/* Estilos generales */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-family: 'Arial', sans-serif;
    background-image: url(/htlm5.webp);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
}


.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #a0a1b6;
    
}

.form-container {
    background-color: #e7e4f0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 8px;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-input:focus {
    outline: none;
    border-color: #4c51bf;
    box-shadow: 0 0 0 3px rgba(76, 81, 191, 0.2);
}

.form-button {
    background-color: #4c51bf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #434190;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ffffff;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.modal-list {
    text-align: left;
    margin-bottom: 20px;
}

.modal-list li {
    margin-bottom: 8px;
}

.modal-button {
    background-color: #4c51bf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-button:hover {
    background-color: #434190;
}
